.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav_logo,
.nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_list {
    display: flex;
    column-gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: 0.3s;
}

.nav_icon {
    display: none;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.active-link,
.nav_link:hover {
    color: var(--title-color-dark);
}

.nav_close,
.nav_toggle {
    display: none;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav {
        height: var(--header-height);
        padding: 0 1rem;
    }

    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }

    /* Show menu */
    .show-menu {
        bottom: 0;
    }

    .nav_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav_icon {
        font-size: 1.2rem;
    }

    .nav_close {
        position: absolute;
        right: 1.3rem;
        bottom: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
        display: block;
    }

    .nav_close:hover {
        color: var(--title-color-dark);
    }

    .nav_toggle {
        font-size: 1.5rem;
        cursor: pointer;
        display: block;
        z-index: var(--z-tooltip);
        color: var(--title-color);
    }

    .nav_toggle,
    .nav_close {
        display: block;
    }
}
